<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link href="styles.css" rel="stylesheet">

		<!-- JS (load angular, ui-router, and our custom js file) -->
    	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    	<script src="app.js"></script>
	</head>

<body>
<section ng-app="app" ng-controller="MainCtrl">
  <form class="capture-register-container" name="captureLoginUserForm">
  <div class="capture-fields-container">
  <div class="capture-fields-horiz-container">
    <label>Zip Code</label>
    <input  ng-model="form.zip" name="zip" type="text" class="form-control input input-fields login-username-input poll-input capture-input-fields zipcode"  placeholder="Zip Code" required/>
    <label>Email</label>
    <input type="email" name="email" type="text" class="form-control input input-fields poll-input capture-input-fields capture-main-input" placeholder="Email" required/><br/>
    <label>Password</label>
    <input ng-model="form.password" name="password" type="password" class="form-control input input-fields poll-input capture-input-fields capture-main-input" placeholder="Password (6 digits min)" required/><br/>
    <input ng-model="form.confirmPassword" name="confirmPassword" type="password" class="form-control input input-fields poll-input capture-input-fields capture-main-input"  placeholder="Confirm Password" required/><br/>

    <input class="btn" type="submit" value="SAVE"/>
   </div><!-- closing capture-fields container -->
  </form>
</section>
</body>
	<script type="text/javascript"></script>
</html>